IYAAZ_ACCESS_MODE=public
IYAAZ_ACCESS_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
IYAAZ_TRANSLATION_PROVIDER=azure
IYAAZ_TRANSLATION_API_KEY=
IYAAZ_TRANSLATION_REGION=
IYAAZ_TRANSLATION_ENDPOINT=https://api.cognitive.microsofttranslator.com
